

<% @questions.each do |question| %>
  <div class="card w-75 mx-auto my-3">
    <div class="card-header h4">
      Question
    </div>
    <div class="card-block">
      <%= question.content %>
    </div>
    <div class="card-footer">
      <%= link_to 'Show', question %>&nbsp;
      <% if question.user == current_user %>
        <%= link_to 'Edit', edit_question_path(question) %>&nbsp;
        <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;
      <% end %>
    </div>
  </div>
<% end %>


<br>
<% if user_signed_in? %>
  <%= link_to 'New Question', new_question_path, class: 'btn btn-primary mb-3 w-50 mx-auto text-center',style: 'display:block' %>
<% end %>


