

<div class="card w-75 mx-auto my-3">
    <div class="card-header h4">
      Question
    </div>
    <div class="card-block">
      <%= @question.content %>
      <br>
      <span class="text-muted small">—from <%= link_to @question.user.username, user_path(@question.user.username) %></span>
    </div>
    <div class="card-footer">
      <div class='content-flex'>
        <div>
          <% if @question.user == current_user %>
              <%= link_to 'Edit', edit_question_path(@question) %>&nbsp;
          <% end %>
          <%= link_to 'Back', questions_path %>
        </div>
        <div class='likes-info'>

          <%=  @question.votes_for.up.size%>&nbsp;
          <% if user_signed_in? %>
            <% if current_user.voted_up_on? @question %>
              <%= link_to '★', unlike_question_path(@question), method: :delete, class: 'unlike-star' %>
            <% else %>
               <%= link_to "☆", like_question_path(@question), method: :post, class: 'like-star'%>
            <% end %>
          <% else %>
            <span class='text-primary'>★</span>
          <% end %>
        </div>
      </div>
    </div>
</div>
<% @question.answers.order(:cached_votes_up => :desc).each do |answer| %>

  <div class="card w-50 mx-auto my-3">
    <div class="card-header h4 bg-success">
      Answer
    </div>
    <div class='card-block'> 
      <%= answer.text %>
      <br>
      <span class="text-muted small">—from <%= link_to answer.user.username, user_path(answer.user.username) %></span>
    </div>
    <div class="card-footer">
      <div class="content-flex">
        <div>
          <% if answer.user == current_user %>
            <%= link_to 'Edit', edit_answer_path(answer) %>&nbsp; 
            <%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure?' } %> 
          <% end %>
        </div>
        <div class="like-info">
          <%=  answer.votes_for.up.size %>
          <% if user_signed_in? %>

            <% if current_user.voted_up_on? answer %>
              <%= link_to "➜", unvote_answer_path(answer), method: :delete, class: 'arrow arrow-unvote'%>
            <% else %>
              <%= link_to "⇨", vote_answer_path(answer), method: :post, class: 'arrow arrow-vote'%>
            <% end %>
          <% else %>
            <span class='text-primary arrow'>➜</span>
          <% end %>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<% if @question.answers.empty? %>
        <p class='text-muted text-center'>Nothing here yet, be the first to answer?</p>
<% end %>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Answer', new_answer_path, class: 'btn btn-primary mb-3 w-50 mx-auto text-center',style: 'display:block' %>
<% end %>




