<!-- <p>
  <strong>User:</strong>
  @question.user
</p>
 -->

<div class="card w-75 mx-auto my-3">
    <div class="card-header h4">
      Question
    </div>
    <div class="card-block">
      <%= @question.content %>
    </div>
    <div class="card-footer">
        <% if @question.user == current_user %>
            <%= link_to 'Edit', edit_question_path(@question) %>&nbsp;
        <% end %>
        <%= link_to 'Back', questions_path %>
    </div>
</div>
<% @question.answers.each do |answer| %>

  <div class="card w-50 mx-auto my-3">
    <div class="card-header h4 bg-success">
      Answer
    </div>
    <div class='card-block'> 
      <%= answer.text %>
    </div>
    <div class="card-footer">
      <% if answer.user == current_user %>
        <%= link_to 'Edit', edit_answer_path(answer) %>&nbsp; 
        <%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% end %>
    </div>
  </div> 

<% end %>
<% if @question.answers.empty? %>
          <p class='text-muted text-center'>Nothing here yet, be the first to answer?</p>
<% end %>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Answer', new_answer_path, class: 'btn btn-primary mb-3 w-50 mx-auto text-center',style: 'display:block' %>
<% end %>




